<template>
  <div class="card">
    <div class="card-boy">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <table class="table bordered" id="table-test" width="100%" v-once>
              <thead>
                <tr>
                  <th>No</th>
                  <th>Product Code</th>
                  <th>Product Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    var vue = this;
    var table = $("#table-test").DataTable({
      ajax: "/product",
      columns: [
        {
          data: "DT_RowIndex",
        },
        {
          data: "product_code",
        },
        {
          data: "product_name",
        },
        {
          data: "action",
        },
      ],
    });

    $("#table-test").on("click", "tbody a", function (e) {
      vue.$router.push({ name: "product.detail" });
    });
  },
};
</script>