.main-sidebar{
    width: 230px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    margin: 40px 15px 0 8px;
}

.main-sidebar .content-wrapper{
    margin: 30px 10px 0 10px;
}

.nav-link{
    color:black;
}