<template>
  <div class="main-page">
    <main-sidebar></main-sidebar>
    <div class="main-content-wrapper">
      <div class="container-fluid">
        <main-navbar></main-navbar>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import mainSidebar from "./components/sidebar/sidebar.vue";
import mainNavbar from "./components/navbar/navbar.vue";

export default {
  components: {
    mainSidebar,
    mainNavbar,
  },
};
</script>